<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Eugene's Security Shop</title>
  </head>
  <body>
    <div class="grid-container">
      <!--Header Grid Template Area-->
      <header class="header">
        <!--Brand Logo-->
        <div class="brand">
          <a href="index.html">Eugene's Security Shop</a>
        </div>
        <!--Brand Logo End-->
        <!--Navigation Links-->
        <div class="header-links">
          <a href="signin.html">Sign in</a>
          <a href="cart.html">Cart</a>
        </div>
        <!--Navigation Links End-->
      </header>
      <!--Header Grid Template Area End-->

      <!--Navigation Drawer-->
      <aside>Shopping Categories</aside>
      <!--Navigation Drawer End-->

      <!--Main Grid Template Area-->
      <main class="main">
        <div class="content">
          <!--Bulleted List of Products-->
          <ul class="products">
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            <li>
              <!--Product details-->
              <div class="product">
                <img
                  class="product-image"
                  src="images/product.jpg"
                  alt="product"
                />
                <div class="product-name">
                  <a href="">
                    Security Camera System (Send Photos from Rasberry Pi via MMS
                    Text Message)
                  </a>
                </div>
                <div class="product-brand">Eugene Security Company</div>
                <div class="product-price">$120</div>
                <div class="product-rating">4.5 Stars (10 Reviews)</div>
              </div>
              <!--Product details End-->
            </li>
            </li>
          </ul>
          <!--Bulleted List of Products End-->
        </div>
      </main>
      <!--Main Grid Template Area End-->

      <!--Footer Grid Template Area-->
      <footer class="footer">All rights reserved.</footer>
      <!--Footer Grid Template Area End-->
    </div>
  </body>
</html>
